.img{
    width: 100%;
}
.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: min-content;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container {
      margin: 0;
      float: left;
      width: 100%;
    padding: 2px 16px;
  }
  .avglikes{
      float: right;
  }

  .like{
    height: 32px;
    width: 32px;
  }

  .like:hover{
    cursor: pointer;
    background:#b48888;
     -moz-box-shadow:0 0 10px rgb(143, 31, 31);
      -webkit-box-shadow:0 0 10px rgb(107, 14, 14);
       box-shadow:0 0 10px rgb(109, 15, 15);
  }

  .delete{
    float: right;
    margin: 10px;
  }