
<ng-container *ngIf="photo">
  <ng-container *ngIf="userId==photo.userId || userRoles.includes('admin')" >
    <div>
      <button type="button" class="btn btn-danger delete" (click)="deletephoto()">Delete this photo</button>
      <button type="button" class="btn btn-warning delete" >Update this photo</button>
    </div>
  </ng-container>
 
    <div class="card ">
        <img class="img" src={{photo.path}}>
    <div class="container">
      <span class="fs-4 fw-bold">{{photo.name}}</span>
      <h5 class="avglikes" >{{photo.avgLikes}}

         <img *ngIf="like" class="like" src={{liked}} (click)="addRate()">

         <img *ngIf="!like" class="like" src="{{dontlike}}" (click)="addRate()">
        
      </h5>
      <p class="text-center fst-italic">{{photo.description}}</p>
    </div>
    </div>
</ng-container>
   

    

