.log{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   width: 25%;
   margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: max-content;
}
.logout{
    display: inline-block;
    width: 20%;
    margin: 15px;
}