<ng-container *ngIf="isAuth">
    <div class="log">
            <h3>Do you really want to log out? </h3>
            <button class="logout btn btn-primary"  (click)="logout()">Yes</button>
            <button class="logout btn btn-primary" routerLink="">No</button>

    </div>
</ng-container>
