<body >
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" routerLink="home">{{title}}</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="myalbum">My Album</a>
          </li>
          <li *ngIf="!isAuth" class="nav-item ">
            <a class="nav-link " routerLink="login">login</a>
          </li>
          <li *ngIf="isAuth" class="nav-item ">
            <a class="nav-link " routerLink="logout">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  

    <div class="footer bg-dark">
      <p class="text text-center text-muted">© 2022 Artem Semenov, @FinalProject</p>
    </div>
</body>
  


