*{
    margin:0
}
.bg{
  background: url("../assets/bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.footer{
  position:sticky;
  left: 0;
  bottom: 0;
  margin-top: 250px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.text{
    margin-top: 10px;
}
.login{
  float: right;
}
