<ng-container *ngIf="isphoto">
  <button type="button" class="btn btn-success" [routerLink]="['/addphoto/']" >Add new photo</button>
    <div class="wrapper d-flex align-content-start flex-wrap photos">
        
        <div *ngFor="let photo of photolist" class="card align-self-center">
            
              <a [routerLink]="['/photo/',photo.id]">
                <img class="img" src={{photo.path}}>
              </a>
            <div class="container">
                
              <span class="fs-4 fw-bold">{{photo.name}}</span>
              <h5 class="avglikes" >{{photo.avgLikes}} <img src="/assets/like.png" style="height: 32px;width: 32px;"></h5>
              <p class="text-left fst-italic">{{photo.description.slice(0,35)}} <ng-container *ngIf="photo.description.length > 35 ">...</ng-container></p>
              <p>{{photo.email}}</p>          
            </div>
            
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!isphoto">
    <div class="text-center">
        <h4>You dont have any photo u can add photo in your album</h4>
        <button type="button" class="btn btn-success" [routerLink]="['/addphoto/']" >Add new photo</button>
    </div>

</ng-container>



