.img{
    display: block;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    height: min-content;
    margin: 20px;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .img:hover{
    cursor: pointer;
  }

  .container {
      margin: 0;
      float: left;
      width: 100%;
    padding: 2px 16px;
  }
  .avglikes{
      float: right;
  }
  .add{
    float: right;
    margin: 15px;
  }
  .photos{
    margin-top: 50px;
  }