
<form [formGroup]="myForm" (ngSubmit)="submit()">

    <div class="form-group text-center">
        <label class="" for="name">Name</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="myForm.controls['name'].touched && myForm.controls['name'].invalid" class="alert alert-danger">
            <div *ngIf="myForm.controls['name'].errors">Name is required.</div>
            <div *ngIf="myForm.controls['name']">Name should be 3 character.</div>
        </div>
    </div>

    <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" name="description" formControlName='description'/>
        <div *ngIf="myForm.controls['description'].touched && myForm.controls['description'].invalid" class="alert alert-danger">
            <div *ngIf="myForm.controls['description'].errors">Description is required.</div>
            <div *ngIf="myForm.controls['description']">Description should be 3 character and max 500.</div>
        </div>
        
            
    </div>

    <div class="form-group text-center">
        <label for="file">File</label>
        <input name="file" id="photo" type="file" accept="image/*" (change)="selectImage($event)" />
    </div>
    

    <div class="text-center">
        <button class="btn btn-primary" type="submit" (onclick)="submit()">Submit</button>
    </div>
    
</form>









