<button class="btn btn-primary" (click)="Close()">Search</button>

<ng-container *ngIf="isEnabled == true">
  <form #myForm="ngForm" (submit)="search(myForm)" novalidate>
  <div class="form-check">
    <input class="form-check-input" type="radio" value="for name"  name="searchfor" ngModel> For Name
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" value="for description" name="searchfor"  ngModel>For description
  </div>

  <div class="input-group mb-3 search">
    <input type="text" class="form-control" placeholder="search string" aria-label="Имя получателя" name="searchstring" aria-describedby="basic-addon2" ngModel>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" >search</button>
    </div>
  </div>
</form>
<button class="btn btn-outline-secondary" (click)="reset()">Reset</button>
</ng-container>








<div class="wrapper d-flex align-content-start flex-wrap ">
    <div *ngFor="let photo of photolist" class="card align-self-center">
          <a [routerLink]="['/photo/',photo.id]">
            <img class="img" src={{photo.path}}>
          </a>
        <div class="container">
          <span class="fs-4 fw-bold">{{photo.name}}</span>
          <h5 class="avglikes" >{{photo.avgLikes}} <img src="/assets/like.png" style="height: 32px;width: 32px;"></h5>
          <p class="text-left fst-italic">{{photo.description.slice(0,35)}} <ng-container *ngIf="photo.description.length > 35 ">...</ng-container></p>
          <p>{{photo.email}}</p>          
        </div>
        
    </div>
</div>
