
<ng-container *ngIf="!isAuth">
    <div class="log">
        <form [formGroup]="form" (ngSumbit)="register()">

            <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control email" name="email" formControlName='email'/>
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">Email is required</div>
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control password" name="password" formControlName='password'/>
                <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Password is required</div>
            </div> 
            <div class="form-group">
                <label>Confirmed Password:</label>
                <input type="password" class="form-control password" name="confirmedpassword" formControlName='confirmedpassword'/>
                <div class="text-center text-danger" *ngIf="form.controls['confirmedpassword'].value != form.controls['password'].value">Passwords do not match</div>
            </div>
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control password" name="firstname" formControlName='firstname'/>
                <div class="text-center text-danger" *ngIf="form.controls['firstname'].invalid && form.controls['firstname'].touched">First Name is required</div>
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control password" name="lastname" formControlName='lastname'/>
                <div class="text-center text-danger" *ngIf="form.controls['lastname'].invalid && form.controls['lastname'].touched">Last Name is required</div>
            </div>
  
            <div class="text-center">
                <button class="login btn btn-primary text-center " [disabled]="!form.valid" (click)="register()">Register</button>
            </div>
            

        </form>
    </div>
    <div *ngIf="isError" class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="Close()"></button>
        <strong>Danger!</strong> Account was not created
      </div>
</ng-container>
