
<ng-container *ngIf="!isAuth">
    <div class="log">
        <form [formGroup]="form" (ngSumbit)="login()">

            <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control email" name="email" formControlName='email'/>
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">Email is required</div>
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control password" name="password" formControlName='password'/>
                <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Password is required</div>
            </div> 
  
            <div class="text-center">
                <button class="login btn btn-primary text-center " [disabled]="!form.valid" (click)="login()">Login</button>
                <button class="login btn btn-primary text-center " [routerLink]="['/register/']" >Register</button>
            </div>
            

        </form>
    </div>
    <div *ngIf="isError" class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="Close()"></button>
        <strong>Danger!</strong> Invalid Email or Password
      </div>
</ng-container>


